<app-navbar></app-navbar>
<app-navlateral></app-navlateral>
<app-card title="Monitor Samsung IPS de 24 Full HD Freesync 75Hz" description="479.000" secondprice="459.000" img="https://i.linio.com/p/facf9f60fcb2fd98e64fc5f68aadf849-product.jpg"></app-card>
<app-card title="Monitor HP 24 Pulgadas Ultrafino IPS Full HD 75Hz M24fw" description="644.000" secondprice="459.000" img="https://i.linio.com/p/6fe38abb1e8bfd959fbd68ae5690b6c3-product.jpg"></app-card>
<app-card title="Monitor Samsung 22 Full Hd 60hz Hdmi Ls22a33 - Negro" description="379.000" secondprice="459.000" img="https://i.linio.com/p/facf9f60fcb2fd98e64fc5f68aadf849-product.jpg"></app-card>
<app-card title="Monitor HP 24 Pulgadas Ultrafino IPS Full HD 75Hz M24fw" description="644.000"  secondprice="614.000" img="https://i.linio.com/p/6fe38abb1e8bfd959fbd68ae5690b6c3-product.jpg"></app-card>
<app-card title="Samsung Monitor 32 curvo FHD 1800R con diseño sin bordes" description="935.000"  img="https://i.linio.com/p/c00b152c2daffcfba08b28cd51f48604-product.jpg"></app-card>
<app-card title="Monitor Samsung Curvo 32” FHD diseño sin bordes LC32R500F" description="919.000" secondprice="869.000" img="https://i.linio.com/p/54d0b64d59de009f4d83d3d2ba7a2574-product.jpg"></app-card>
<app-card title="Monitor Samsung 24 pulgadas IPS Full HD 75Hz HDMI F24T35" description="1.137.000" secondprice="1.087.000" img="https://i.linio.com/p/9208044f3529cef54dcc9da847998cf5-product.jpg"></app-card>
<app-card title="Monitor Ultrawide Lg 34 Ips Hrd10 Freesync 75Hz 34wp500-B" description="1.375.900" secondprice="1.284.000" img="https://i.linio.com/p/5c3d798c6f55becbb29124c76968a19d-product.jpg"></app-card>

<router-outlet></router-outlet>