<body>  
    <main>
    <app-navbar>
    </app-navbar>
    <div class="d-flex mt-4 ms-4">
    <div class="col-3"> 
    <app-navlateral>
    </app-navlateral>
    </div>   
    <div class="col-6">
    <div class="d-flex flex-wrap m-0">
    <app-card title="Monitor Samsung IPS de 24 Full HD Freesync 75Hz" description="479.000"secondprice="459.000" img="https://i.linio.com/p/bb419874f493e424e6d5b8eab196463a-product.jpg"></app-card>
    <app-card title="Monitor HP 24 Pulgadas Ultrafino IPS Full HD 75Hz M24fw" description="$644.000" secondprice="$700.000" img="https://i.linio.com/p/6fe38abb1e8bfd959fbd68ae5690b6c3-product.jpg"></app-card>
    <app-card title="Monitor Samsung 22 Full Hd 60hz Hdmi Ls22a33 - Negro" description="$379.000" secondprice="$690.000" img="https://i.linio.com/p/facf9f60fcb2fd98e64fc5f68aadf849-product.jpg"></app-card>
    <app-card title="Monitor HP 24 Pulgadas Ultrafino IPS Full HD 75Hz M24fw" description="$644.000"  secondprice="$614.000" img="https://i.linio.com/p/6fe38abb1e8bfd959fbd68ae5690b6c3-product.jpg"></app-card>
    <app-card title="Samsung Monitor 32 curvo FHD 1800R con diseño sin bordes" description="_" secondprice="$935.000"  img="https://i.linio.com/p/c00b152c2daffcfba08b28cd51f48604-product.jpg"></app-card>
    <app-card title="Monitor Samsung Curvo 32” FHD diseño sin bordes LC32R500F" description="$919.000" secondprice="$869.000" img="https://i.linio.com/p/54d0b64d59de009f4d83d3d2ba7a2574-product.jpg"></app-card>
    <app-card title="Monitor Samsung 24 pulgadas IPS Full HD 75Hz HDMI F24T35" description="$1.137.000" secondprice="$1.087.000" img="https://i.linio.com/p/9208044f3529cef54dcc9da847998cf5-product.jpg"></app-card>
    <app-card title="Monitor Ultrawide Lg 34 Ips Hrd10 Freesync 75Hz 34wp500-B" description="$1.375.900" secondprice="$1.284.000" img="https://i.linio.com/p/5c3d798c6f55becbb29124c76968a19d-product.jpg"></app-card>
    <app-card title="Monitor LG Ips De 27 Uhd 4k Freesync 60Hz 27UL500-W – Blanco" description="$1.699.900" secondprice="$1.449.900" img="https://i.linio.com/p/08c6c03ea191c35d60fe20ff881bfa43-product.jpg"></app-card>
    </div>
    </div>
    </div>
    </main>
    </body>
    <router-outlet></router-outlet>
