<body>
    
<main>
        <app-navbar>
        </app-navbar>
        <div class="d-flex ms-4">
            <div class="col-3">
                <app-navlateral>
                </app-navlateral>
            </div>
            <div class="col-6">
                <div class="d-flex flex-wrap m-0">
                    <app-card title="Monitor Ultrawide Lg 34 Ips Hrd10 Freesync 75Hz 34wp500-B" description="$1.375.900"
                        secondprice="$1.284.000"
                        img="https://i.linio.com/p/5c3d798c6f55becbb29124c76968a19d-product.jpg"></app-card>
                    <app-card title="Monitor LG Ips De 27 Uhd 4k Freesync 60Hz 27UL500-W – Blanco"
                        description="$1.699.900" secondprice="$1.449.900"
                        img="https://i.linio.com/p/08c6c03ea191c35d60fe20ff881bfa43-product.jpg"></app-card>
                </div>
            </div>
        </div>
</main>
</body>

<router-outlet></router-outlet>