<div class="card" style="width: 18rem;">
    <div class="card-header">
     Categorías
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a routerLink="/descuentos">Descuentos</a></li>
      <li class="list-group-item"><a routerLink="/lg">LG</a></li>
      <li class="list-group-item"><a routerLink="/samsung">Samsung</a></li>
      <li class="list-group-item"><a routerLink="/hp">HP</a></li>
    </ul>
  </div>


  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a>Calificacion</a></li>
      <li class="list-group-item"><a>Condicion del producto</a></li>
      <li class="list-group-item"><a>Tamaño de pantalla</a></li>
      <li class="list-group-item"><a>Memoria RAM</a></li>
    </ul>
  </div>
  <router-outlet></router-outlet>
